name: React CI/CD to Azure VM IIS
  
on:
  push:
    branches:
      - main
 
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install
 
      - name: Build React App
        run: npm run build

      - name: Zip Build Folder
        run: zip -r build.zip build

      - name: Stop IIS and Clean wwwroot
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          password: ${{ secrets.AZURE_VM_PASSWORD }}
          port: 22
          script: |
            powershell -Command "iisreset /stop"
            powershell -Command "Remove-Item -Recurse -Force C:\inetpub\wwwroot\ReactJsApp\*"

      - name: Copy Files to VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          password: ${{ secrets.AZURE_VM_PASSWORD }}
          port: 22
          source: "build/*"
          target: "C:/inetpub/wwwroot/ReactJsApp"

      - name: Start IIS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          password: ${{ secrets.AZURE_VM_PASSWORD }}
          port: 22
          script: |
            powershell -Command "Start-Service W3SVC"



